.about .banner {
    width: 100%;
    height: 250px;
    overflow: hidden;
}


 @media only screen and (max-width: 400px) {
	
    .about .banner img{
        margin-left: -400px;
    }
	
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	
    .about .banner img{
        margin-left: -300px;
    }
	
}

@media only screen and (min-width: 961px) {
	

	
}

@media only screen and (min-width: 1920px) {
	
    .about .banner img{
        width: 100%;
    }
	
}