body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Tahoma", Geneva, sans-serif;
    background: url('../img/corpWhiteBG_wash.jpg') #f5f5f5 no-repeat center center fixed;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;
}

section {
    position: absolute;
    width: 100%;
    margin: 100px 0px 30px 0px;
}
strong {
    font-weight: bold;
}
i {
    font-style: italic;
}
a.action{
    display: block;
    width: 100%;
    padding: 15px;
    margin: 15px 0px 0px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: #a11e1e;
    background: -webkit-linear-gradient(#d52827, #a11e1e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d52827, #a11e1e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d52827, #a11e1e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d52827, #a11e1e); /* Standard syntax */
    color: #fff;
}

a.action:hover{
    background: #a11e1e;
    background: -webkit-linear-gradient(#a11e1e, #a11e1e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a11e1e, #a11e1e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a11e1e, #a11e1e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a11e1e, #a11e1e); /* Standard syntax */
    color: #f5f5f5;
}



a.outgoing{
  padding: 8px 20px 8px 40px;
  float: left; text-align:center;
  text-decoration: none; font: normal 16px Myriad Pro, Helvetica, Arial, sans-serif;  text-shadow:0px 1px 0px #000;
  color: #fff;
  position: relative; text-shadow:1px 0 0 #000;
  background: #a11e1e;
  background: -webkit-linear-gradient(#a11e1e, #a11e1e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a11e1e, #a11e1e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a11e1e, #a11e1e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a11e1e, #a11e1e);  
  min-width:181px; 
  width:auto
}
a.outgoing:hover {
    color: #f5f5f5;
}

a.outgoing::after,
a.outgoing::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -19px;   
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 1em solid;
  right: -1em;
}
a.outgoing::after{   z-index: 2;  border-left-color: #a11e1e;   }



.switch-route-appear {
    transform: translateX(3000px);
    opacity: 0;
}
.switch-route-appear.switch-route-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.6s ease-in;
}
.switch-route-enter {
    opacity: 0;
    transform: translateX(3000px);
}
.switch-route-enter.switch-route-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s ease-in 0.4s;
}
.switch-route-leave {
    opacity: 1;
    transform: translateX(0);
}
.switch-route-leave.switch-route-leave-active {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.65s ease-out;
}



.container {
    width: 100%;
    margin: 0 auto;
}
.table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
}
.walls {
    border-left: 2px ridge #f5f5f5;
    border-right: 2px ridge #f5f5f5;
}
.rounded {
    border-radius: 10px;
    border: 1px ridge #dfdfdf;
    box-shadow: 2px 2px 2px #999;
}
.circleBase {
    border-radius: 50%;
}

.circle {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: #a11e1e;
    background: -webkit-linear-gradient(#d52827, #a11e1e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d52827, #a11e1e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d52827, #a11e1e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d52827, #a11e1e); /* Standard syntax */
    color: #fff;
    border: 10px solid #999;
}
.halfTable {
    display: inline-block; 
    width: 50%;
    white-space: normal;
    border: 1px solid #999;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 2px 2px #999;
    overflow: hidden;
}