header {
    z-index: 100;
}
section {
    z-index: 0;
} 
footer {
    z-index: 90;
}

@media only screen and (max-width: 400px) {
	
    .container {
        width: 100%;
    }
    .halfTable {
        display: block; 
        width: 100%;
        margin: 15px 0px 0px;
    }
	
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	
    .container {
        width: 100%;
    }
    .halfTable {
        display: block; 
        width: 100%;
        margin: 15px 0px 0px;
    }
	
}

@media only screen and (min-width: 961px) {
	
    .container {
        width: 100%;
        max-width: 1366px;
    }
	
}
